BOT_TOKEN=your_bot_token_here
REQUIRED_CHANNELS=channel_id1|link1,channel_id2|link2
# SQLite (Local):
DATABASE_URL=sqlite+aiosqlite:///bot.db
# MySQL (Remote):
# DATABASE_URL=mysql+aiomysql://user:password@host:port/database
DB_NAME=bot.db
ADMIN_ID=your_telegram_id
TRAILER_CHANNEL=trailer_channel_id|link
MOVIE_CHANNEL=movie_channel_id|link
